.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form {
  background-color: #f3f3f3;
  border-radius: 8px;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 18px;
}

.image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.placeholder {
  color: #777;
  font-size: 18px;
  text-align: center;
}

.dish-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.createMenuLoader {
  position: absolute;
  left: 0;
  right: 0;
  color: #00a389;

}

.upload-img-input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 18px;
}

.upload-img-des {
  height: 250px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.save-button,
.draft-button {
  padding: 8px 16px;
  border: none;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.createMenu-btns:hover {
  opacity: 0.88;
}

.save-button {
  background-color: #00a389;
  color: white;
}

.draft-button {
  background-color: #c97e10;
  color: white;
}

.check-area,
.dish-pricing-area {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.upload-description {
  height: 90px;
  resize: none;
}