#res-main-area {
  height: 100vh;
  width: 100vw;
  min-height: 650px;
  overflow: hidden;
}

#nav-area-restaurant {
  height: 90px;
  overflow: hidden;
}

#outlet-area-restaurant {
  height: calc(100vh - 90px);
  overflow: auto;
}

#outlet-area-restaurant::-webkit-scrollbar {
  display: none;
}