@import url("../../var.css");

.register-component-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  background-color: var(--green);
  border-radius: 18px;
  min-height: 400px;
}

.filed-area {
  width: 90%;
  gap: 5px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.filed-area input {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  outline: var(--blue);
}

.password-filed {
  position: relative;
}

.password-filed img {
  width: 20px;
  position: absolute;
  right: 10px;
  bottom: 6px;
  cursor: pointer;
}

@media (max-width:1100px) {

  .filed-area,
  .filed-area input {
    font-size: 12px;
  }
}