body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.def-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50, -50);
  --d: 40px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 100;
  box-shadow:
    calc(1*var(--d)) calc(0*var(--d)) 0 0,
    calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d)) calc(1*var(--d)) 0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
  animation: l27 0.87s infinite steps(9);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn)
  }
}

/* For most browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}