#profile-card {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  justify-content: start;
  height: 20vh;
  min-height: 130px;
  overflow: hidden;
  /* background-color: red; */
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#profle-card-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

#profile-name {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

#profile-name b,
#profile-description b {
  color: #21a786;
  cursor: pointer;
}

.popup {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000080;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-child {
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #00000091;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50vw;
  min-height: 450px;
  gap: 16px;
}

.popup-child span {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.input-popup-child {
  width: 97%;
  /* height: 70px; */
  font-size: 18px;
  padding: 15px 10px;
  border: 1px solid #000;
  border-radius: 8px;
}

.paragraph-input-popup {
  height: 140px;
  text-align: start;
  padding: 10px;
  resize: none;
  border: none;
  outline: none;
  background-color: #f8f0f0;
}

.paragraph-input-popup::-webkit-scrollbar {
  display: none;
}